<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Scoreboard</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <%- include('partials/_nav') %>
        <div class="container">
            <h1>Selamat datang di Scoreboard</h1>
            <p class="description">
                Mainkan pertandingan tanpa login atau simpan hasilnya dengan login.
            </p>

            <div class="description">
                <a href="/setup" class="button">Mulai Pertandingan Baru</a>
            </div>
        </div>
</body>

</html>