<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <%- include('partials/_nav') %>
        <div class="container container-500">
            <h1>Login</h1>
            <p class="description">You need to login to save your match result</p>
            <form method="POST" action="/auth/login">
                <div class="input-group">
                    <input type="text" name="username" placeholder="Username" required />
                </div>
                <div class="input-group">
                    <input type="password" name="password" placeholder="Password" required />
                </div>
                <div class="input-group">
                    <button type="submit" class="button">Login</button>
                </div>
            </form>
        </div>
</body>

</html>